{
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "endOfLine": "auto",
    "importOrder": ["^react", "^antd", "^@(.*)$", "^[A-Za-z0-9_-]*$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
